<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLBH_Login_DanhMucSP_HoaDon.Properties.Settings.QLBanHangConnectionString"
            connectionString="Data Source=DESKTOP-28HTES6\SQL;Initial Catalog=QLSanPham;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>